/* font */
.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* shared styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dark-1{
    color: #151414;
}
.dark-2{
    color: #444343;
}
.dark-3{
    color: #737272;
}



/* header styles */
header{
    background-image: url(../images/banner/banner2.png);
    width: 100%;
    max-width: 1600px;
}

/* hero styles */
.hero-container{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 230px;
    padding-top: 216px;
    padding-bottom: 137px;
    margin-bottom: 130px;
}
.hero-title{
    font-weight: bold;
    font-size: 65px;
    margin-bottom: 24px;
    max-width: 525px;
    text-align: right;
}
.hero-description{
    line-height: 26px;
    margin-bottom: 32px;
    max-width: 494px;
    text-align: right;
}
.hero-button{
    background-color: #F15B22;
    color: white;
    font-weight: 600;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    max-width: 160px;
    padding: 20px 25px;
}

/* mistake styles */
.mistake-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 87px;
    margin-bottom: 130px;
}
.mistake-text-container{
    max-width: 416px;
    margin-top: 240px;

}
.mistake-title{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 24px;
}
.mistake-description{
    line-height: 26px;
}
.list{
    margin-top: 16px;
}
ul > li{
    margin-bottom: 8px;
}
.check-color{
    color: #16D887;
    margin-right: 10px;
}

/* my plans styles */
.plan-heading{
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}
.plan-container{
    display: flex;
    gap: 86px;
    justify-content: center;
    text-align: center;
    margin-bottom: 125px;
}
.plan-title{
    font-weight: bold;
    font-size: 30px;
    margin-top: 24px;
    margin-bottom: 16px;
}
.plan-description{
    font-weight: 500;
    font-size: 25px;
}

/* contact styles */
.contact{
    background-image: url(../images/gradient2.png), url(../images/watch.png);
    background-repeat: no-repeat;
    width: 81%;
    max-width: 1140px;
    height: 300px;
    border-radius: 8px;
    margin: 0 auto;
    margin-bottom: 130px;
}
.contact-container{
    max-width: 460px;
    padding-top: 59px;
    margin-left: 64px;
}
.contact-title{
    font-weight: bold;
    font-size: 40px;
    color: white;
    margin-bottom: 24px;
}
.contact-btn{
    background-color: white;
    color: #F15B22;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    font-weight: 600;
    font-size: 20px;
    padding: 21px 36px;
}

/* footer styles */
footer{
    background-color: #151414;
}
.footer-container{
    display: flex;
    justify-content: space-between;
}
.footer-info{
    max-width: 485px;
    margin-top: 130px;
    margin-bottom: 130px;
    margin-left: 230px;
}
.footer-title{
    font-weight: bold;
    font-size: 45px;
    color: white;
    margin-bottom: 16px;
}
.footer-description{
    line-height: 26px;
    color: white;
    margin-bottom: 24px;
}
.email{
    color: white;
    margin-bottom: 16px;
}
.phone{
    color: white;
    margin-bottom: 32px;
}
.icon{
    margin-right: 17px;
}
.subscribe{
    max-width: 325px;
    margin-top: 130px;
    margin-right: 230px;
}
.subscribe-title{
    font-weight: 600;
    font-size: 25px;
    color: white;
    margin-bottom: 31px;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
input{
    background-color: #151414;
    border: 1px solid #F3F3F3;
    border-radius: 8px;
    padding: 21px;
}
input > placeholder{
    font-size: 18px;
    color: #F3F3F3;
}
.subscribe-btn{
    background-color: white;
    color: #F15B22;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    max-width: 170px;
    padding: 20px 36px;
}